/* center the line on h2 */

.Favorites {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  padding: 20px;
  margin-bottom: 80px;
}

.Favorites h2 {
  text-align: center;
  padding: 5px 0;
  font-weight: 200;
  margin: 10px 0 20px;
  margin-top: 125px;
  border-bottom: 1px solid #000;
  line-height: 0.01em;
  width: 100%;
}

.Favorites h2 span {
  background-color: white;
  padding: 0 10px;
  position: relative;
  top: 5px;
}

.Favorites p {
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
}

.Favorites .RecipeCard {
  width: 40%;
  margin: 20px;
}

.Favorites img {
  position: relative;
  width: 200px;
  height: 148px;
}

.Favorites p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

.Favorites i {
  position: relative;
  font-size: 40px;
  top: -50px;
  right: -75px;
  color: white;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
}

.Favorites .fa-solid {
  color: #ad2632;
}

@media only screen and (min-width: 1000px) {
  .Favorites .RecipeCard {
    width: 200px;
  }
}
