.Footer {
  display: flex;
  height: 75px;
  align-items: center;
  justify-content: space-between;
  /* position: absolute;
  bottom: 0;
  left: 0;
  right: 0; */
}

.Footer .logo-icon {
  width: 55px;
  height: 55px;
  padding: 15px;
}

.Footer .copyright {
  font-size: 9px;
  text-align: center;
  margin-top: 20px;
}

.Footer .social-media-container ul {
  display: flex;
  list-style: none;
  padding: 5px;
}

.Footer .social-media-img {
  margin: 2px;
  width: 30px;
  height: 30px;
}
