.Header {
  height: 100px;
  background-color: #fff;
  position: fixed;
  width: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  z-index: 5;
}

.Header .logo-and-icon-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header .fa-solid {
  font-size: 40px;
  padding: 15px;
  color: #ad2632;
}

.Header .fa-solid:hover {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.Header .fa-circle-user {
  color: black;
}

.Header .black-logo {
  width: 275px;
}

@media only screen and (min-width: 1000px) {
  .Header .fa-heart {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 70px;
  }
}
