.Header {
  height: 100px;
  background-color: #fff;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  z-index: 5;
}

.Header .fa-solid {
  font-size: 40px;
  padding: 15px;
  color: #ad2632;
}

.Header .fa-solid:hover {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.Header .fa-circle-user {
  color: black;
}

.Header .black-logo {
  width: 275px;
}

@media only screen and (min-width: 1000px) {
  /* .Header .heart {
    order: 2;
  }

  .Header .logo {
    order: 1;
    padding-left: 20px;
  }
  .Header .fa-circle-user {
    order: 3;
  } */
}
