.SearchBox {
  background-image: url("../assets/foodimages/searchBoxFoodImg.jpg");
  /* background-attachment: fixed; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-bottom: 35px;
}

.SearchBox .searchBar-icon {
  position: relative;
  display: flex;
  justify-content: center;
  width: 375px;
}

.SearchBox .searchIcon {
  width: 28px;
  cursor: pointer;
  position: absolute;
  left: 300px;
  top: 186px;
  z-index: 1;
}

.SearchBox .SearchBar,
.meal-type,
.diet {
  border-radius: 30px;
  width: 200px;
  height: 30px;
  border-style: none;
  box-sizing: border-box;
  padding: 5px 10px;
  font-size: 14px;
  color: #76797a;
}

.SearchBox #SearchBar {
  width: 100%;
  height: 60px;
  position: relative;
  padding: 20px;
  margin: 20px;
  margin-top: 170px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    rgba(42, 44, 36, 0.76);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  font-size: 20px;
  color: white;
}

.SearchBox ::placeholder {
  color: white;
  font-weight: 200;
}

.SearchBox .drop-down-container {
  display: flex;
  justify-content: center;
  width: 330px;
  margin-bottom: 100px;
}
/* 
.SearcBox .meal-type-container {
 
} */

.SearchBox select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

.SearchBox .fa-angle-down {
  position: relative;
  left: 175px;
  bottom: 25px;
  color: #ad2632;
  pointer-events: none;
}

.SearchBox .meal-type {
  margin-right: 20px;
}

/* <img src={searchBoximg} alt="food image in searchbox" /> */
