.SubscribeBox {
  background-color: #000;
  color: #fff;
  text-align: center;
  font-weight: 200;
  width: 100%;
}

.subscribe-text {
  margin: 5px;
}

.subscribe-form {
  margin: 10px;
}

#email-input {
  border-radius: 20px;
  border: none;
  height: 25px;
  width: 50%;
  font-family: "Inter", sans-serif;
}

.subscribe-button {
  color: #fff;
  background-color: black;
  border: none;
  margin: 5px;
}

.fa-arrow-right {
  font-size: 14px;
}
